<include file="Public/san/header.html"/>
<div class="cantainer" align="center">
        
    <form action="{:U('Article/update')}" enctype="multipart/form-data" method="post">
        <div class = "form-group">
            文章标题：
            <input type="text" value="{$info['title']}" name="edit_title">
            <input type="submit" class="btn btn-success" value="保存" >
            <input type="hidden" name="id" value="{$info['id']}">
        </div>
        <div class = "form-group html_thumb" >
            缩略图：
            <input type="file" id="input-file-now" class="dropify" name="thumb" data-default-file="__PUBLIC__/{$info['thumb']}" />

        </div>

        <div>
         内容: <textarea class="text_area" name="edit_content" id="editor">{$info['content']}</textarea>
        </div>
    </form>
</div>
<div class="light-green-background">
        <div class="container">
            <div class="row">
                <div style="width: 100%; padding: 0 10%;">
                    <div class="span3 offset1" style="color:#FFF;">
                        <h3>关于我们</h3>
                        <p>这是一个爱学习的人</p>
                        <p>免费探索兴趣爱好的网站</p>
                    </div>
                    <div class="span3" style="color:#FFF;">
                        <h3>联系合作</h3>
                        <p><a style="color:#FFF;" href="#">联系我们</a></p>
                        <p><a style="color:#FFF;" href="#">合作方式</a></p>
                    </div>
                    <div class="span3" style="color:#FFF;">
                        <h3>关注我们</h3>
                        <p><a style="color:#FFF;" href="#">微博</a></p>
                        <p><a style="color:#FFF;" href="#">微信</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-background">
        <div class="container">
            <div class="row">
                <div class="span11 offset1">
                    <div style="padding:15px 0;color:white; text-align: center;">粤ICP备138666666号 &nbsp;&nbsp;&nbsp; Copyright © 138class </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"></script>
    <script src="__PUBLIC__/san/js/jquery.min.js"></script>
    <script src="__PUBLIC__/san/js/jquery.zySlide.js"></script>
    <script src="__PUBLIC__/san/js/index.js"></script>
    
</body>
<script type="text/javascript">
window.UEDITOR_HOME_URL = "/__PUBLIC__/lib/utf8-php/";
var ue = UE.getEditor('editor');  
$('.dropify').dropify();
</script>

<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="__PUBLIC__/lib/dropify/dist/js/dropify.min.js"></script>
<script>
    $(document).ready(function(){
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element){
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element){
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element){
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e){
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>
</html>