    </div>
            <!--end .container-->
        </div>
        <!--end .wrap-->
<div class="footer">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        html5
                    </a>
                </li>
                <li>
                    <a href="#">
                        jquery
                    </a>
                </li>
                <li>
                    <a href="#">
                        AngularJS
                    </a>
                </li>
                <li>
                    <a href="#">
                        BootStrap
                    </a>
                </li>
                <li>
                    <a href="#">
                        React
                    </a>
                </li>
                <li>
                    <a href="#">
                        JAVA
                    </a>
                </li>
                <li>
                    <a href="#">
                        C
                    </a>
                </li>
              
            </ul>
            <div class="more">
                <span>
                    <a href="#">
                        联系我们
                    </a>
                </span>
                <span>
                    <a href="#">
                        应用中心
                    </a>
                </span>
                <span>
                    <a href="#">
                        客服中心
                    </a>
                </span>
            </div>
            <p>
                Copyright © 澳视教育   2016.12.29
            </p>
        </div>
    </body>